.text {
    display: inline-block;

    margin: 0;

    color: var(--text-color);
    letter-spacing: 1.2;
    text-align: center;

    text-shadow: 0px 2px 10px var(--text-glow);

    --text-color: var(--text-primary-color);
    --text-stroke-width: 1px;
    --text-stroke-color: var(--text-primary-stroke);
    --text-shadow: 0px 4px 10px var(--text-glow);

    paint-order: stroke fill;

    @supports (-webkit-text-stroke: 1px var(--black)) {
        -webkit-text-stroke-width: var(--text-stroke-width);
        -webkit-text-stroke-color: var(--text-stroke-color);
    }
}

.primary {
    color: var(--text-color);

    filter: drop-shadow(0px 2px 2px var(--text-light-shadow-soft))
        drop-shadow(0px 0px 2px var(--text-light-shadow-soft));

    --text-color: var(--text-primary-color);
    --text-stroke-width: 2px;
    --text-stroke-color: var(--text-primary-stroke);
    --text-shadow: 0px 2px 10px var(--text-glow-strong);
}

.light {
    font-family: 'Benzin-Bold', sans-serif;
    font-weight: 400;

    color: var(--text-color);

    filter: drop-shadow(0px 4px 20px var(--text-light-shadow-soft))
        drop-shadow(0px 0px 4px var(--text-light-shadow-soft));

    --text-color: var(--white);
    --text-shadow:
        0px 4px 120px var(--text-light-shadow-strong),
        0px 0px 45px var(--text-light-shadow-soft);
}

.md {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2;
    line-height: 1.35;
}

.lg {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
}
