.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding-top: 10vh;
    padding-bottom: 3vh;
    height: 100%;
    overflow: auto;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .image {
            position: relative;

            width: 100px;
            height: 60px;

            .shadow {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;

                width: 10px;
                height: 40px;
                box-shadow: 0 1px 35px 10px var(--shadow-highlight);

                transform: translate(-50%, -50%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .winText {
            text-align: center;
            font-size: 22px;
            letter-spacing: 1.2;
            color: var(--background);
        }

        .winLabel {
            font-size: 15px;
        }

        .loseLabel {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.cooldownLabel {
    display: inline-block;

    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2;
}

.cooldownLong {
    font-size: 16px;
}
