.contact {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.buttonLabel {
    font-size: 12px;
    font-weight: 400;
}
